@page
@model MyPokeDexWeb.Pages.Account.Dexs.AddPokemonModel
@{
	Layout = HttpContext.User.Identity.IsAuthenticated ? "_Layout -Authenticated" : "_Layout";
}







<style>
	body {
		background-color: #f8f9fa;
	}

	

	.card {
		border-radius: 1rem;
		box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
		/* center the element */
		margin-left: -5em;
		margin-right: 0em ;
		/* give it dimensions */
		min-width: 700px;
		max-height: 700px;
	}


	.card-body {
		padding: 3.5rem;
		
	}

	.form-label {
		font-weight: bold;
	}

	.btn-primary {
		background-color: red;
		border: none;
	}

		.btn-primary:hover {
			background-color: red;
		}

	.text-danger {
		color: #dc3545;
	}

	.row {
		display: flex;
		align-items: center;
	}

	.col-2 {
		flex: 0 0 auto;
		text-align: right;
		margin-right: 30px;
	}

	.col-10 {
		flex: 1;
	}

</style>

<section>
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-light text-black">
					<div class="card-body p-5 text-center">
						<form method="post">
							<div class="row text-black-danger" asp-validation-summary="All"></div>

							<div class="row m-2">
								<h1>Add Pokemon</h1>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.PokemonID" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.PokemonID" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.PokemonID" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Name" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Name" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Name" class="text-danger"></span>
								</div>

							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.DexNumber" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.DexNumber" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.DexNumber" class="text-danger"></span>
								</div>

							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.TypeID " class="form-label"> </label>
								</div>
								<div class="col-10">
									<select asp-for="NewPokemon.TypeID" asp-items="@Model.Type">  </select>
									<span asp-validation-for="NewPokemon.TypeID" class="text-danger"></span>
								</div>

							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.StateTotal" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.StateTotal" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.StateTotal" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.RegionID" class="form-label"></label>
								</div>
								<div class="col-10">
									<select asp-for="NewPokemon.RegionID" asp-items="@Model.RegionID">  </select>
									<span asp-validation-for="NewPokemon.RegionID" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Height" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Height" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Height" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Weight" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Weight" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Weight" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.Audio" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.Audio" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.Audio" class="text-danger"></span>
								</div>
							</div>

							<div class="row m-2">
								<div class="col-2">
									<label asp-for="NewPokemon.ImageURL" class="form-label"></label>
								</div>
								<div class="col-10">
									<input asp-for="NewPokemon.ImageURL" type="text" class="form-control" />
									<span asp-validation-for="NewPokemon.ImageURL" class="text-danger"></span>
								</div>
							</div>



							<div class="row m-2 justify-content-center">
								<div class="col-6">
									<button id="btnLogin" class="btn btn-primary btn-block">Add Pokemon</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>