@page
@model MyPokeDexWeb.Pages.Account.Dexs.DeletePokemonModel
@{
}

<p>Are you sure you want to Delete this Pokemon?</p>

<div class="col-2">
    <button class="btn btn-danger btn-block custom-btn" id="btnDel">Delete</button>
</div>

<div class="col-2">
    <button class="btn btn-primary btn-block custom-btn" id="btnDel">Cancel</button>
</div>