@page
@model MyPokeDexWeb.Pages.LoginModel
@{
}
<section>
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-light text-black" style="border-radius:1rem;">
					<div class="card-body p-5 text-center">
						<form method="post">
							<div class = "row text-danger" asp-validation-summary="All"></div>
							<div class="row m-2">
								<div>
									<label class="form-label" asp-for="LoginUser.Email"> Email</label>
									<input asp-for="LoginUser.Email" type="email" class="form-control" />
									<span asp-validation-for="LoginUser.Email" class="text-danger"></span>
								</div>
							</div>
							<div class="row m-2">
								<div>
									<label asp-for="LoginUser.Password" class="form-label">Password</label>
									<input  asp-for="LoginUser.Password" type="password" class="form-control" />
									<span asp-validation-for="LoginUser.Password" class="text-danger"></span>
								</div>
							</div>
							<div class="row m-2">
								<div>
									<button id="btnLogin" class="btn btn-primary">Sign In </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


