@page
@model MyPokeDexWeb.Pages.LoginModel
@{
	Layout = HttpContext.User.Identity.IsAuthenticated ? "_Layout -Authenticated" : "_Layout";

}


<style>

	html{
		cursor: url('/images/Cursor.ico'), default;
	}
	body {
		background-color: #f8f9fa;
		
	}

	.card {
		border-radius: 1rem;
		box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
	}

	.card-body {
		padding: 3rem;
	}

	.form-label {
		font-weight: bold;
	}

	.text-danger {
		color: #dc3545;
	}

	.row {
		display: flex;
		align-items: center;
	}

	#btnLogin{
		cursor: url('/images/Pointer.ico'), default;
	}
	
	.regNav{
		cursor: url('/images/Pointer.ico'), default;
	}

	.form-control{
		cursor: url('/images/Type.ico'), default;
	}
	.col-10 {

		flex: 1;
		text-align: left;
		margin-right: 10px;
	}
</style>




<section>
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-light text-black" style="border-radius:1rem;">
					<div class="card-body p-5 text-center">
						<form method="post">
							<div class = "row text-danger" asp-validation-summary="All"></div>

							<div class="row m-2">
								<h1>Sign In
								</h1>
							</div>

							<div class="row m-2">
								<div class="col-10">
									<label class="form-label" asp-for="LoginUser.Email"> Email</label>
									<input asp-for="LoginUser.Email" type="email" class="form-control" />
									<span asp-validation-for="LoginUser.Email" class="text-danger"></span>
								</div>
							</div>
							<div class="row m-2">
								<div class="col-10">
									<label asp-for="LoginUser.Password" class="form-label">Password</label>
									<input  asp-for="LoginUser.Password" type="password" class="form-control" />
									<span asp-validation-for="LoginUser.Password" class="text-danger"></span>
								</div>
							</div>
							<div class="row m-2">
								<a class="regNav" href="Register">Don't Have an account yet? Create one here.</a>
							</div>
							<div class="row m-2">
								<div>
									<button id="btnLogin" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Sign In </button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


