@page
@model MyPokeDexWeb.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Profile page";
}
<div class="row m-2">
    <div class="col-2">
        First Name:
    </div>

    <div class="col-2">
        <lable asp-for="profile.FirstName"></lable>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Last Name:
    </div>

    <div class="col-2">
        <lable asp-for="profile.LastName"></lable>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Email:
    </div>
    <div class="col-2">
        <lable asp-for="profile.Email"></lable>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Phone:
    </div>

    <div class="col-2">
        <lable asp-for="profile.Phone"></lable>
    </div>
</div>

