@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_Layout -Authenticated" : "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyPokeDex</h1>
</div>
<table style="width:100%">
    <thead>
        <tr>
            <th>Pokemon ID</th>
            <th>Dex Number</th>
            <th>Name</th>
            <th>Type</th>
            <th>State Total</th>
            <th>Image</th>
            <th>Region</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Audio</th>
        </tr>
    </thead>
    <tbody>
         <tr>
             <td></td>
             <td></td>
             <td></td>
         </tr>
    </tbody>
      
</table>